# Frontend
node_modules/
dist/
coverage/
*.tsbuildinfo

# Backend
target/
*.class
*.jar
*.war

# Environment variables
.env
.env.*
.env.local
.env.development
.env.test
.env.production
!.env.example
!**/.env.example

# IDE
.vscode/
.idea/

# System and logs
.DS_Store
*.log
.local/
