# Frontend
node_modules/
dist/
coverage/
*.tsbuildinfo

# Backend
target/

# Environment variables
.env
.env.*
!.env.example
!**/.env.example

# IDE
.vscode/
.idea/

# System and logs
.DS_Store
*.log
.local/
